body{
  display: grid;
  background-color: rgb(146, 93, 50);
  margin: 0%;
}
.container {
 display: flex;
 justify-content: space-around;
 height: 100px;
 padding-top: 10px;
 text-transform: uppercase;
 background-color: rgb(75, 22, 22);
 
}
.Menu{
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
 }
 a{
  text-decoration: none;
  color: rgb(218, 171, 118);
 }
img{
  height: 500px;
   width: 100%;
   border-radius: 10px;
  
}
h3{
  margin-bottom: 80px;
}
.imagem{
  text-align: center;
}
.imagem02{
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  min-width: 320px;
  margin-top: 10px;
}
.logo{
  height: 220px;
  width: 200px;
  margin: 10px;
  border-radius: 20px;
 
}
.logo:hover{
 transition: transform 0.3s ease;
   transform: scale(1.2);
}
.titulo01{
  text-transform: uppercase;
 justify-items: center;
}
.MS01{
  text-align: center;
  position: relative;
}
.MS02{
  text-align: center;
  position: relative;
}
.MS03{
  text-align: center;
  position: relative;
}
.btn01 {
  position: absolute;
  bottom: 20px;       /* posiciona o botão no rodapé das imagens */
  left: 60%;
  transform: translateX(-50%);
  padding: 14px 24px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn02 {
 position: absolute;
  bottom: 20px;       /* posiciona o botão no rodapé das imagens */
  left: 60%;
  transform: translateX(-50%);
  padding: 14px 24px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn03 {
 position: absolute;
  bottom: 20px;       /* posiciona o botão no rodapé das imagens */
  left: 60%;
  transform: translateX(-50%);
  padding: 14px 24px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.container01{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.MS{
  height: 250px;
  width: 270px;
  margin: 10px;
  border-radius: 20px;
 
}
.MS:hover{
  
 transition: transform 0.3s ease;
   transform: scale(1.2);
}
 
.footer{
  display: grid;
  background-color: rgb(75, 22, 22);
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 30px;
  color: white;
  text-transform: uppercase;
}
.itens p{
 font-size: 10px;
}

/*body{
  background-color: rgb(0, 0, 0);
}
.grid{
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}
.musica{
  display: grid;
  grid-template-columns: 150px 150px 150px  150px 150px 150px;
  gap: 20px;
  margin-left: 20px;
}
.musica2{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 20px;
  margin-left: 250px;
  padding-top: 10px;
}

.logo{
  height: 100px;
  padding: 10px;
}
h1{
  color: white;
  
}
h2{
  color: rgb(66, 65, 65);
}
h3{
  color: white;
  padding: 10px;
  margin: 10px;
  
}
h4{
  color: rgb(48, 46, 46);
  margin: 10px;
}
.friends{
  background-color: rgb(58, 57, 57);
  background-size: cover;
  grid-row: span 3
}
.bandas{
  height: 150px;
  border-radius: 10px;
}
.grid2{
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  height: px;
}
.opcoes{
  grid-row: span 2
}
.pesquisa{
  height: 30px;
  width: 500px;
  background-color: rgb(163, 161, 161);
  border-radius: 8px;
 
}*/